/* DeforestacionPage.css */

.canvas-container {
    position: relative;
  }
  
  .info-text {
    position: absolute;
    top: 20%;
    left: 10%;
    color: #ffffff;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 15px;
    border-radius: 8px;
    width: 300px;
    z-index: 10;
  }
  
  .info-text h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .info-text p {
    margin: 5px 0;
  }
  