.container {
    position: relative;
  }
  
  .info-text {
    position: absolute;
    top: 90px;
    left: 30px;
    width: 30%;
    height: 240px; /* Ajusta la altura para un tamaño fijo */
    padding: 20px;
    background-color: rgb(55, 126, 64);
    color: white;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(16, 196, 94, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el contenido y los botones */
  }
  
  .text-content {
    overflow-y: auto; /* Permite desplazarse si el contenido excede el espacio disponible */
    flex-grow: 1; /* Asegura que el texto ocupe el espacio restante */
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(16, 196, 94);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: rgb(10, 150, 70);
  }
  
  button:disabled {
    background-color: rgb(99, 63, 63);
    cursor: not-allowed;
  }
  