
    .info-text {
      position: absolute;
      top: 110px;   /* Separación desde la parte superior */
      left: 60px;  /* Separación desde la izquierda */
      width: 30%;  /* Ajusta el ancho del texto */
      padding: 10px;
      background-color: rgb(43, 209, 65); /* Fondo semitransparente */
      color: white; /* Texto blanco para contraste */
      font-size: 14px; /* Tamaño del texto */
      font-family: 'Arial', sans-serif; /* Fuente legible */
      border-radius: 5px; /* Bordes redondeados */
      box-shadow: 0 0 10px rgba(16, 196, 94, 0.5); /* Sombra para resaltar */
    }
    